html {
	height: 300%;
	font-family: sans-serif;
	font-size: 16px;
	--main-bg-color: rgba(235, 235, 235, 0.308);
}

body {
	margin-left: 15px;
}

.bottom-left-sidebar {
	background-color: var(--main-bg-color);
	width: 17%;
	height: 80px;
	padding-bottom: 5px;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bottom-left-sidebar button {
	cursor: pointer;
	border: none;
	font-size: 16px;
	margin-top: 10px;
	background-color: rgb(240, 240, 240);
	color: rgb(36, 36, 36);
	border-radius: 3px;
	box-shadow: 1px 1px rgb(170, 170, 170);
}

.bottom-left-sidebar button:hover {
	background-color: rgb(207, 207, 207);
}

.tag-sidebar {
	background-color: var(--main-bg-color);
	width: 17%;
	height: 88%;
	position: fixed;
	top: 0px;
	overflow-y: auto;
}

.tag-sidebar p {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 14px;
}

.deselect-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.deselect {
	cursor: pointer;
	border: none;
	font-size: 16px;
	margin: 1px;
	background-color: rgb(240, 240, 240);
	color: rgb(36, 36, 36);
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 1px 1px rgb(170, 170, 170);
}

.deselect:hover {
	background-color: rgb(207, 207, 207);
}

.tag-sidebar-buttons {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 15%;
}

.tag-sidebar-buttons button {
	cursor: pointer;
	border: none;
	font-size: 16px;
	margin: 1px;
	background-color: rgb(238, 238, 238);
	text-align: left;
	min-width: 80%;
}

.tag-sidebar-buttons button:hover {
	background-color: rgb(212, 212, 212);
}

.fas {
	font-size: 10px;
	margin-right: 3px;
}

main {
	background-color: var(--main-bg-color);
	position: absolute;
	left: 19%;
	width: 80%;
}

.singleSnip {
	margin: 15px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.836);
	border-radius: 10px;
	border: 1px solid rgb(170, 170, 170);
}

.snip-title {
	margin-bottom: 13px;
	margin-top: 0;
	font-size: 20px;
}

.snip-title span {
	font-weight: 700;
}

.snipped-on {
	font-size: 14px;
}

textarea {
	margin-top: 10px;
	padding: 0;
	width: 100%;
	height: 90px;
	display: block;
	resize: none;
}

.flexbox-container {
	display: flex;
	justify-content: space-between;
}

.flexbox-container button {
	margin: 10px 0px;
	cursor: pointer;
	border: none;
	font-size: 16px;
	background-color: rgb(240, 240, 240);
	color: rgb(36, 36, 36);
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 1px 1px rgb(175, 175, 175);
}

.flexbox-container button:hover {
	background-color: rgb(212, 212, 212);
}